*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: #730606;
    height: 200vh;
}
header{
    position: fixed;
    width: 100%;
}
.wrapper{
    display: flex;
    vertical-align: bottom;
    padding: 20px 40px;
    justify-content: space-between;
}
.sticky{
    background-color: rgb(91, 142, 142);
}
.logo{
    height: 50px;
    line-height: 50px;
    color: white;
}
.wrapper ol{
 
    list-style: none;
    margin: 0 2%;
}
.wrapper ol li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    position: relative;
    font-family: big john;
}

.wrapper ol li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.wrapper ul{
    text-decoration: none;
    list-style: none;
    margin:0 2%;
}

.wrapper ul li{
    background: #262626;
    border: 1px solid #fff;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: big john;

}

.wrapper ol li ul{
    display: none;
}
.wrapper ol li:hover >ul{
    display: block;
}
/*.wrapper ul li:hover >ul ul{
    color: aqua;
    display: flex;
}*/

.wrapper ol ol{
    position: relative;
}

.panel ol{
    list-style: none;
    height: 150px;
    width: 450px;
    padding: 10px 10px;
    background-image: url(assets/works.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    

}
.panel ol li ol{
    width: 100px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}





