*
{
    margin: 0%;
    padding: 0px;
}

body {
   
    font-family: 'Cairo',sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/cova.jpg);
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 10px 30px;
    
}

.top-left{
    display: inline-flex;
    list-style: none;
}
.top-left, ul li{
    margin-right: 20px;
}

.top-right{
    display: inline-flex;
    list-style: none;
    float:right;
}

.menu{
    margin: 10px 0px;
    display: inline;
    align-items:center;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
    height: 60px;
}
.top-nav{
    margin-top: 20px;
    float: right;
}
.top-nav ul li{
    display: inline-flex;
    list-style: none;
    
}
.top-nav ul li a{
    text-decoration: none;
    color: white;
}

.caption{
    display: block;
    position: absolute;
    top: 400px;
    justify-content: space-around;
}

.caption h3{
    color: yellow;
}
.caption h1{
    font-size: 70px;
}

.caption button{
    margin-top: 20px;
    background-color: yellow;
    padding: 15px 30px;
    border-style: none;
}

main .box{
    position: absolute;
    top: 650px;
    padding: 10px 50px;
    border: 1px solid rgba(215, 212, 212, 0.803);
    box-shadow: 20px;
    border-radius: 10px;
    background-color:white;
    width: 35%;
    height: 300px;
}

.box ul li{
    list-style: none;
    line-height: 35px;
    justify-content: space-around;
}

.box, ul li h1{
    font-size: 25px;
    font-weight: 200;
}
.box ul li h4{
    font-size: 18px;
    font-weight: 500;
}

.row1
{
    padding: 0% 20px;
    list-style: none;
    display: inline;
    
}

.panels{
    display: inline-flex;
    position: relative;
    width: 50%;
    left: 50%;
    margin-bottom: 200px;

}

.block{
    display:inline-block;
}

.row2{
    position: relative;
    padding: 50px 15%;
    margin-bottom: 70px;
}

.row2 h2{
    font-size: 40px;
    font-weight: 200;
}
.row2 h5{
    margin-top: 20px;
    font-size: 20px;
}

.row3{
    display: inline-flex;
    vertical-align: top;
   
}

.consulting{
    display: block;
    text-align: left;
    margin: 0px 20px;

}

.row3 .workers{
    align-items: right;
}

.workers{
    width: 45%;
}



.row3 button 
{
    background-color: rgb(7, 23, 93);
    color: white;
    border-style: none;
    width: 100px;
    font-size: 15px;
    border-radius: 50px;
    padding: 15px 10px;
    margin-left: 0px;
}

.our-clients{
    font-size:25px;
    font-weight: 200;
    margin: 100px 20px;
}

.rowpan{
    display: inline-flex;
    margin-bottom: 200px;
}

.colpan{
    margin: 10px 30px;
    font-weight: 100;
}

.colpan h5{
    font-weight: 100;
}

.colpan p{
    font-size: 18px;
    font-weight: 100;
}

.happybox{
    padding-top: 20px ;
    background-color: #25ac06;
    color: white;
    margin-bottom: 50px;
}
.happybox h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.rowpan2{
    display: inline-flex;
    margin-bottom: 100px;
}
.socials{
    text-align: center;
    
}
.socials img{
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.gallery{
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.mission{
    padding: 40px 20px;
    display: inline-flex;
    background-color: rgba(253, 253, 253, 0.76);
}
.mission .col{
    display: block;
    font-weight: 300;
    margin-top: 100px;
    text-align: left;
}

.col h2{
    margin-top: 20px;
    font-size: 30px;
}

.col h4{
    margin-top: 20px;
    font-size: 20px;
}

.experts{
    background-color: rgba(244, 238, 231, 0.563);
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 50px;
}
.experts h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.row5{
    display: inline-flex;
    margin-bottom: 40px;
    
}

.row5 img{
    border-radius: 50%;
    height: 150px;
}


.cone{
    margin: 30px 30px;
}

.cone h4{
    margin: 10px 0px;
    font-size: 23px;
    font-weight: bold;
}

.cone p{
    line-height: 30px;
}

.experts button{
    background-color: rgb(7, 23, 93);
    color: white;
    border-style: none;
    width: 120px;
    font-size: 12px;
    border-radius: 50px;
    padding: 20px 20px;
    margin-left: 0px;
}


.more-experts{
    text-align: center;
    line-height: 30px;
    margin: 0px 25%;
}

.more-experts h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.more-experts p{
    font-size: 18px;
    font-weight: 100;
}
.more-experts button{
    background-color: rgb(7, 23, 93);
    color: white;
    border-style: none;
    width: 120px;
    font-size: 12px;
    border-radius: 50px;
    padding: 20px 20px;
    margin-left: 0px;
}

